/*Чим ми займаємося*/
.box {
        display: none;
    @media screen and (min-width:1200px){
        display: block;
    }
    
    padding-bottom: 94px;
        &__top {
            display: flex;
            }  
        &__work {
            // display: flex;
            position: relative;
    
            margin-right: 30px;
    
            &:last-child {
                margin-right: 0;
            }
        }
        &__div {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(47, 48, 58, 0.8);
        }
        &__text {
            font-weight: 700;
            font-size: 14px;
            line-height: calc(16 / 14);
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-align: center;
            padding-top: 27px;
            padding-bottom: 27px;
            color: #ffffff;
        }
}
