/*Логотип*/
.header {
  border-bottom: 1px solid #ECECEC;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-right: 87px;
  @media screen and (min-width: 1200px){
    margin-right: 93px;
  }
  // margin-right: 93px;
  color: $secondary-text-color;
    &__accent {
        color: $active-color;
    }
}

