/* Modal */
.backdrop {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 350ms linear, opacity 350ms;
}
.modal {
    position: relative;
    width: 544px;
    height: 581px;
    border-radius: 4px;

    opacity: 1;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 350ms linear, opacity 500ms;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
}
.button-btn {
    display: block;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}
.button-close:hover,
.button-close:active {
    fill: #2193f3;
}