/*Project*/

.project-top {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
            margin-right: 0;
        }
    
    &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
        &-post {
            display: block;
        }
        &-text {
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
    
            color: $primery-text-color;
        }
    
        &-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            margin-bottom: 4px;
            color: $secondary-text-color;
        }
    
        &-box {
            border: 1px solid #eeeeee;
            border-top: 0;
            padding: 20px 24px;
        }
    
        &-card {
            position: relative;
            overflow: hidden;
        }
}

.project-before {
    display: flex;
    position: absolute;
    align-items: center;
    padding: 24px;
   
    opacity: 0;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    transform: translate(0%, 100%);
    transition: transform 350ms linear, opacity 500ms;
    &-text {
            font-size: 18px;
            line-height: calc(28 / 18);
            text-align: left;
            letter-spacing: 0.03em;
    
            color: #ffffff;
        }
}

.project-post:hover {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-post:hover .project-before {
    opacity: 1;
    transform: translate(0);
}